# 1 ---- Establish a custom 404 File not Found page make it a complete link----

#errorDocument 404 http://www.yosight.com/404.php
#errorDocument 400 http://www.yosight.com/error.php
#errorDocument 401 http://www.yosight.com/error.php
#errorDocument 403 http://www.yosight.com/error.php
#errorDocument 500 http://www.yosight.com/error.php

#Disallow viewing of htaccess files
<Files .htaccess>
order allow,deny
deny from all
</Files>

# 2 ---- Prevent directory file listing in all of your folders ----
IndexIgnore *

# Disable Directory Browsing
Options All -Indexes

DirectoryIndex home.php

# Make all requests have the www. in the URL
RewriteEngine on
RewriteCond %{HTTP_HOST} ^entebbestay.com
RewriteRule ^(.*)$ https://www.entebbestay.com/$1 [R=permanent,L]


# Turn Rewrite Engine On
RewriteEngine on
RewriteCond %{HTTP_HOST} ^entebbestay.com/dev_env
RewriteRule ^(.*)$ https://www.entebbestay.com//dev_env/$1 [R=permanent,L]

# RewriteRule ^group/([0-9a-zA-Z_-]+) group.php?g=$1


# Rewrite for projects.php
RewriteRule ^custom$ projects.php [NC,L]

# NC makes the rule non case sensitive
# L makes this the last rule that this specific condition will match
# $ in the regular expression makes the matching stop so that "customblah" will not work



# Rewrite for article.php?id=1&title=Title-Goes-Here
#RewriteRule ^article/([0-9]+)/([0-9a-zA-Z_-]+)$ article.php?id=$1&title=$2 [NC,L]

# ---- Make pages render without their extension in the url
Options +MultiViews

#RewriteCond %{REQUEST_FILENAME}.php -f
#RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

<IfModule mod_headers.c>
    # WEEK
    <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
        Header set Cache-Control "max-age=86400‬‬, public"
    </FilesMatch>

    # WEEK
    <FilesMatch "\.(js|css|swf)$">
        Header set Cache-Control "max-age=86400‬‬"
    </FilesMatch>
</IfModule>